# Python
__pycache__/
api/.mypy_cache
api/.ruff_cache

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/package-lock.json

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# env
.env
.env.prod
.env.dev
frontend/.env
